@model Winn_BOA_Cash_Pro.Models.FedWire

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>FedWire</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="FromAccountName" class="control-label"></label>
                <input asp-for="FromAccountName" class="form-control" />
                <span asp-validation-for="FromAccountName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FromBankName" class="control-label"></label>
                <input asp-for="FromBankName" class="form-control" />
                <span asp-validation-for="FromBankName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FromAccountNumber" class="control-label"></label>
                <input asp-for="FromAccountNumber" class="form-control" />
                <span asp-validation-for="FromAccountNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FromAbanumber" class="control-label"></label>
                <input asp-for="FromAbanumber" class="form-control" />
                <span asp-validation-for="FromAbanumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ToAccountName" class="control-label"></label>
                <input asp-for="ToAccountName" class="form-control" />
                <span asp-validation-for="ToAccountName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ToBankName" class="control-label"></label>
                <input asp-for="ToBankName" class="form-control" />
                <span asp-validation-for="ToBankName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ToAccountNumber" class="control-label"></label>
                <input asp-for="ToAccountNumber" class="form-control" />
                <span asp-validation-for="ToAccountNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ToAbanumber" class="control-label"></label>
                <input asp-for="ToAbanumber" class="form-control" />
                <span asp-validation-for="ToAbanumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TransferAmount" class="control-label"></label>
                <input asp-for="TransferAmount" class="form-control" />
                <span asp-validation-for="TransferAmount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ToBankCity" class="control-label"></label>
                <input asp-for="ToBankCity" class="form-control" />
                <span asp-validation-for="ToBankCity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TransactionStatus" class="control-label"></label>
                <input asp-for="TransactionStatus" class="form-control" />
                <span asp-validation-for="TransactionStatus" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CreatedDate" class="control-label"></label>
                <input asp-for="CreatedDate" class="form-control" />
                <span asp-validation-for="CreatedDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CreatedBy" class="control-label"></label>
                <input asp-for="CreatedBy" class="form-control" />
                <span asp-validation-for="CreatedBy" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
